body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #FFFBFF;
  padding: 2rem;
}

button {
  border-radius: 2px;
  border: none;
  background-color: #EAC9C1;
  border: 1px #D3AB9E solid;
  padding: 0.3rem;
  margin: 0.2rem;
}

.home-card {
  border: 1px #D3AB9E solid;
  margin: 2rem;
  padding: 0.5rem;
}

.crossed-line {
  text-decoration: line-through;
}
